body {
    margin: 20px;
}

.imgg {
    width: 200px;
    height: 150px;
    border: 2px solid rgb(1, 1, 12);
}
.card { 
    font-family: 'Lucida Sans' ,Geneva, Tahoma, sans-serif;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 8px solid #8278a7;
    text-emphasis-color: #2b2839;
    font-style: italic;
    background-color: #6076a6;
    color:#fff;
     padding: 20px;
     display: flex; 
     justify-content: space-around;/
    font-size: 10px;
     
}
.border-blue {
    border: 2px solid #8278a7;
    padding: 10px;
    margin: 10px;
    background-color: #423e54;
    color: #fff;
}


